<html>
<title>Server Manage</title>
<head>Server Basic Infomation</head>
<hr>
<form action="/report" method="get">
	<input type="submit" value="Reports">
</form>

<form action="/add" method="get"> 
	<lable>{{ note }}</lable>
	<input type="password" name="pwd">
	<input type="submit" value="manage">
</form>
<hr>
<form active="/" method="post">
<p>Server List:</p>
	<select name='project'>
		<option>{{ default_project }}</option>
		<option>All</option>
		{% for p in projectlist %}
			<option >{{ p }}</option>
		{% endfor %}
	</select>
<input type="submit" name="commit" value="filter">
<body>	
<p></p>
<table  border="1" bordercolor=""  cellspacing="0"  >
<tr>
	<th width=20>project</th>
	<th width=20>name</th>
	<th width=20>ip</th>
	<th width=10>owner</th>
</tr>
{% for server in serverlist %}
<tr>
	<td><a class='attachment' href="/server_detail?project={{ server.1 }}">{{server.1}}</a></td>
	<td><a class='attachment' href="/server_detail?server={{ server.0 }}">{{server.2}}</a></td>
	<td><a class='attachment' href="/server_detail?ip={{ server.3 }}">{{ server.3 }}</a></td>
	<td><a class='attachment' href="/server_detail?owner={{ server.4 }}">{{ server.4 }}</a></td>
</tr>
{% endfor %}
</table>
<p></p>

</body>
</html>