<html>
<title>server manage</title>
<head>server manage</head>
<p></p>
<body>
<form action="/add_pro" method="get">
	<input id="action" type='submit'  name="type" value="new project"  class="button"></input>
</form>
<hr>
<form action="/add/" method="post">
	<lable>project:</lable>
	<select name='project' >
		{% for p in projectlist %}
			<option >{{ p }}</option>
		{% endfor %}
	</select>
	<br>
	<lable  width=10>name:</lable>
	<input type="text"  name="server_name" >
	<br>
	<label width=10>&nbsp;&nbsp;ip:</label>
	<input type="text" name="server_ip">
	<br>
	<label width=10>port:</label>
	<input type="text" name="server_port" value=3306>
	<br>
	<label width=10>&nbsp;&nbsp;db:</label>
	<input type="text" name="server_db">
	<br>	
	<br>
	<input id="action" type="submit"  name="s" value="commit" class="button"></input>
</form>

<form action="/" method="get">
	<input type='submit' value='back'></form>
<hr>
{{ msgs }}
</body>
</html>